data pipeline, we will be using, pandas and sqlalchemy and mysql

In [1]:
import pandas as pd

In [ ]:
#extract the data from a csv

df =pd.read_csv("netflix_titles.csv")
df.head()

In [3]:
df.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [4]:
#preprocess/ transform the data

#drop duplicates
df.drop_duplicates(inplace=True)

In [ ]:
#filling null values in specific columns
df['cast'].fillna('unknown', inplace=True)
df['director'].fillna('unknown', inplace=True)
df['country'].fillna('unknown', inplace=True)

In [6]:
#convert date_added to date_time

df['date_added']=pd.to_datetime(df['date_added'], errors='coerce')

In [7]:
#add a column called release_decade
df['release_decade']=(df['release_year']//10)*10

In [ ]:
df.head()

In [15]:
from datetime import datetime
from sqlalchemy import create_engine
# Database credentials
username = 'root'
password = ''  # If no password, leave it empty
host = 'localhost'
port = '3306'  # ⚠️ Default MySQL port is 3306, not 5432
database = 'netflix_db'

# Create MySQL connection engine using pymysql
engine = create_engine(f'mysql+pymysql://{username}:{password}@{host}:{port}/{database}')

# Load data into MySQL
df.to_sql('netflix_titles', con=engine, if_exists='replace', index=False)

print(f"[{datetime.now()}] ETL job completed.")

[2025-05-26 12:40:56.078291] ETL job completed.